[submodule "dotvim/vendor/vim-ruby"]
	path = dotvim/vendor/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dotvim/vendor/css.vim"]
	path = dotvim/vendor/css.vim
	url = https://github.com/JulesWang/css.vim.git
[submodule "dotvim/vendor/vim-go"]
	path = dotvim/vendor/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "dotvim/vendor/vim-javascript"]
	path = dotvim/vendor/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "dotvim/vendor/vim-jsx"]
	path = dotvim/vendor/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "dotvim/vendor/vim-jinja"]
	path = dotvim/vendor/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "dotvim/vendor/ansible-vim"]
	path = dotvim/vendor/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "dotvim/vendor/jq.vim"]
	path = dotvim/vendor/jq.vim
	url = https://github.com/vito-c/jq.vim.git
[submodule "dotvim/vendor/vim-terraform"]
	path = dotvim/vendor/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "dotvim/vendor/black"]
	path = dotvim/vendor/black
	url = git@github.com:psf/black.git
[submodule "dotvim/vendor/vim-prettier"]
	path = dotvim/vendor/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "dotvim/vendor/typescript-vim"]
	path = dotvim/vendor/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "dotvim/vendor/vim-ft-bzl"]
	path = dotvim/vendor/vim-ft-bzl
	url = git@github.com:bazelbuild/vim-ft-bzl.git
[submodule "dotvim/vendor/vim-yaml"]
	path = dotvim/vendor/vim-yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule "dotvim/vendor/vim-python-pep8-indent"]
	path = dotvim/vendor/vim-python-pep8-indent
	url = git@github.com:Vimjas/vim-python-pep8-indent.git
[submodule "dotvim/vendor/vim-vinegar"]
	path = dotvim/vendor/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "dotvim/vendor/isort.vim"]
	path = dotvim/vendor/isort.vim
	url = git@github.com:brentyi/isort.vim.git
