[submodule "dotvim/vendor/vim-ruby"]
	path = dotvim/vendor/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dotvim/vendor/css.vim"]
	path = dotvim/vendor/css.vim
	url = https://github.com/JulesWang/css.vim.git
[submodule "dotvim/vendor/vim-go"]
	path = dotvim/vendor/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "dotvim/vendor/vim-puppet"]
	path = dotvim/vendor/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "dotvim/vendor/vim-javascript"]
	path = dotvim/vendor/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "dotvim/vendor/vim-jsx"]
	path = dotvim/vendor/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "dotvim/vendor/vim-jinja"]
	path = dotvim/vendor/vim-jinja
	url = git@github.com:lepture/vim-jinja.git
[submodule "dotvim/vendor/vim-scala"]
	path = dotvim/vendor/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "dotvim/vendor/vim-toml"]
	path = dotvim/vendor/vim-toml
	url = git@github.com:cespare/vim-toml.git
