[branch]
	autoSetupMerge = always

[color]
	branch = auto
	diff = auto
	status = auto

[commit]
	gpgSign = true

[core]
	attributesfile = ~/.gitattributes
	editor = vim
	excludesfile = ~/.gitignore
	whitespace=fix,-indent-with-non-tab,trailing-space

[fetch]
	prune = true

[init]
	defaultBranch = main

[push]
	default = current

[rerere]
	enabled = true

[user]
	name = Robin Tweedie
	email = ${GIT_EMAIL}
	signingkey = ${GIT_SIGNINGKEY}
