[user]
	name = Robin Tweedie
	email = ${GIT_EMAIL}

[color]
	branch = auto
	diff = auto
	status = auto

[core]
	whitespace=fix,-indent-with-non-tab,trailing-space
	excludesfile = ~/.gitignore

[push]
	default = current
