[user]
	name = Robin Tweedie
	email = ${GIT_EMAIL}
	signingkey = ${GIT_SIGNINGKEY}

[color]
	branch = auto
	diff = auto
	status = auto

[core]
	whitespace=fix,-indent-with-non-tab,trailing-space
	excludesfile = ~/.gitignore
	editor = vim

[push]
	default = current

[commit]
	gpgSign = true
